
img {
	max-width: 100%;
} 



/* buttons */

.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding: 12px 30px;
	min-width: 138px;
	font-weight: 500;
	border: none;
	background: #414141;
	cursor: pointer;
	line-height: normal;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.btn-line {
	background: transparent;
	border: 2px solid #414141;
	color: #414141;
	padding: 12px 20px;
}

.site-btn.btn-line:hover {
	background: #414141;
	border: 2px solid #414141;
	color: #fff;
}


.intro-slider .intro-item {
	padding: 30px 0;
}

.intro-slider .intro-item figure {
	position: relative;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.intro-slider .intro-item figure .bache {
	position: absolute;
	min-width: 59px;
	height: 59px;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 14px;
	padding: 20px 10px 0;
	text-align: center;
	background: #414141;
	z-index: 3;
	opacity: 0;
}

.intro-slider .intro-item .product-info {
	opacity: 0;
	padding-top: 5px;
	text-align: left;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.intro-slider .intro-item .product-info h5 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
}

.intro-slider .intro-item .product-info p {
	font-size: 24px;
	color: #8d8d8d;
}

.intro-slider .active .intro-item figure {
	outline: 7px solid #414141;
	outline-offset: -7px;
	-webkit-transform: scale(1.06, 1.07);
	-ms-transform: scale(1.06, 1.07);
	transform: scale(1.06, 1.07);
}

.intro-slider .active .intro-item figure .bache {
	opacity: 1;
}

.intro-slider .active .intro-item .product-info {
	opacity: 1;
}

.scrollbar {
	margin: 10px auto 0;
	width: 100%;
	height: 17px;
	line-height: 0;
	background: #ececec;
	overflow: hidden;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 17px;
	background: #414141;
	border-radius: 30px;
}

.intro-slider {
	width: 100%;
	padding: 0;
}

.intro-slider .slidee {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
}

.intro-slider .slidee li {
	float: left;
	margin: 0 32px;
	padding: 0;
	height: 100%;
	width:391px;
}


