
.content{width:1200px;margin:0 auto;position: relative;}
.list{width:500px;margin:20px;float:left;}

#p3{position: absolute;top:400px;left:0px;}
#p4{position: absolute;top:400px;left:540px;}
.pic{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    transform: scale(1,1);
    display: none;
    transition: all 0.8s;
	z-index:999;
	
}
.pic img{
	float: left;
	width: 960px;
	padding:10px;
	background:#fff;
	transition: all 0.8s; object-fit: cover;
}

.box .list .mr{width:100%;padding:10px;background:#fff;}
.box .list img.img{width:100%;}